@import "../../css-config/mixins.scss";
@import "../../css-config/mixins.scss";

.unavailable-container {
  margin: 20px 0;
  @include md {
    margin: 75px 0;
  }
  .unavailable-layout {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    @include md {
      max-width: 1200px;
    }
    h1 {
      text-align: center;
      text-transform: uppercase;
      margin: 50px;
      font-size: 40px;
    }
  }
}
